
.yellow_button {
    padding: 10px;
    background-color: #FFCC00;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;

}
.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.buttons {
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.information
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-left: 20px; 
    
}
.information img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}
.imgdiv
{
    max-width: 45%;
    max-height: 45%;
}




.card {
    background: #2c2c2c;
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: left;
    padding: 20px;
}

#infos_car{
    color: white;
    font-size: 20px;
}
.yellow_button2 {
    padding: 15px;
    background-color: #FFCC00;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #1b1b1b;
    width: 100%;
}
.blue_button {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    margin-right: 10px;
    padding: 15px;
    background-color: #505f84;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #1b1b1b;
    width: 90%;
}
input, select {
    margin-top: 5px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color:black;
    padding: 10px;
    color: white;

}
.buttons2 label{
    color: white;
}


.profile_button img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
#car_price
{
    color: white;
    font-weight: bold;
    font-size: 2em;
}
.alul_legyen
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    height: 12em;
}

.error{
    font-size: 1em;
    color: red;
}
#car_name{

    color: white;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-right: 16%;
    margin-top: 2em;
}
#brand_text{
    display: inline;
    color: white;
    font-size: 2.5em;
    margin-right: 10px;
}
#model_text{
    display: inline;
    color: white;
    font-size: 2.5em;
    font-weight: bolder;
}
#nap{
    display: inline;
    color: rgba(255, 255, 255, 0.635);
    font-size: 0.5em;
    font-weight: 1;
}
.success_div{
    display: flex;
    color: green;
    margin: 2em;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    font-size: 1.2em;
    font-weight: bold;
}
.error_div{
    
    margin: 2em;
    display: none;
    justify-content: center;
    align-items: center;
    color: red;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2em;
    font-weight: bold;
}
.infos2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2{
    background: #2c2c2c;
    min-width: 300px;
    min-height: 100;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: left;
    padding: 20px;
}
.error_div, .success_div{
    max-width: 100%;
    max-height: 100%;
}
.error_div img, .success_div img{
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
}


