
.yellow_button {
    padding: 10px;
    background-color: #FFCC00;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;

}
.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.buttons {
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.profile_button img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
#alap{
    font-size: 20px;
    color: white;
}
#foglal{

    font-size: 28px;
    color: white;
    font-weight: bold;
}
#lista{
    font-size: 22px;
    color: white;
    font-weight: bold;

}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card {
    background: #2c2c2c;
    max-width: 240px;
    
    border: 1px solid black;
    border-radius: 8px;
    text-align: left;
    padding: 20px;
}

.card img {
    max-width: 100%;
    max-height: 80%;
    border-radius: 8px;
}

.card a {
    margin: 10px;
    font-size: 18px;
    color: white;
}

.info_tab{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile_div img {
    max-width: 60%;
    height: 60%;
    border-radius: 8px;
    object-fit: cover;
}
.name_div
{
    display: flex;
    width: 100%;
    flex-direction: column;;
    align-items: flex-start;
    margin-left: -6em;
}
.profile_div
{
    max-width: 80%;
    max-height: 80%;
    display: flex;
    justify-content: flex-start;

}
.prof{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 5em;
    margin-top: 1em;

}
#datum{
    color: white;
    font-size: 25px;
    margin-top: -2em;
    margin-bottom: 20px;
    z-index: 2;
    align-self: flex-end;

}
#brand_text{
    display: inline;
    color: white;
    font-size: 20px;
}
#model_text{
    display: inline;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
#block{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.delete_button {
    padding: 10px;
    background-color: rgb(186, 1, 1);
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 10px;

}
.margin{
    margin-top: 15px ; 
}

